extends layout

block content
  .content
    h1 DELETE BRAND
    .info-box
        if brandedItems.length > 0
            p #[strong Delete the following Items before you delete this brand]
            each item in brandedItems
                ul 
                    li.listed-item
                        a(href=item.url) #{item.name}
            a(href='/items').cancel-btn Go to Items
        else 
            form(method='POST')
                p Are u sure you want to delete this Brand?
                br
                p=brand.name
                br 
                .ops-btn 
                    input(type="hidden", name='id' value=brand._id)
                    button(type='submit').delete-btn Delete
                    a(href=brand.url).cancel-btn Cancel