extends layout

block content
  .main
    if categorizedItems.length > 0
        p #[strong Delete the following Items before you delete this category]
        each item in categorizedItems
            ul 
                li
                    a(href=item.url) #{item.name}
        a(href='/items').button.is-warning.is-outlined.is-medium Go to Items
    else 
        form(method='POST')
            p.confirmation Are u sure you want to delete this Category?
            br
            p=category.name
            br
            .is-grouped.buttons 
                input(type="hidden", name='id' value=category._id)
                button(type='submit').button.is-danger.is-outlined.is-medium Delete
                a(href=category.url).button.is-warning.is-outlined.is-medium Cancel