extends layout

block content
  .content
    h1='Category Detail'
    .info-box
      .detail-info
        p Category Name
        p=category.name
      .detail-info
        p Category Description
        p=category.description
      .ops-btn
          a(href=category.url+'/delete').delete-btn Delete
          a(href=category.url+'/edit').edit-btn Edit
    if items
      h2 ITEMS IN THIS CATEGORY
        each item in items
          li.listed-item 
            a(href=item.url) #{item.name}