extends layout

block content
  .content
    h1=title
    .info-box
      .detail-name.detail-info
        p Item Name
        p=item.name
      .detail-description.detail-info
        p Description
        p=item.description
      .detail-stock.detail-info
        p Qty in stock
        p=item.stock
      .detail-prce.detail-info
        p Price 
        p=item.price
      .detail-category.detail-info
        p Category 
        p=item.category.name 
      .detail-brand.detail-info
        p Brand 
        p=item.brand.name
      .ops-btn
          a.delete-btn(href=item.url+'/delete') Delete
          a.edit-btn(href=item.url+'/edit') Edit